body {
  background-color: #66B2F0;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-color: blue;
  font-size: 20px;
  line-height: 25px;
  text-align:center;
  #background-image: image-url("wlg.jpg");
}
h1 {
    color: #BBFFBB;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 30px;
  line-height: 35px;
}
h3 {
	background-image: image-url("gwall.jpg");
}
h4 {
	background-image: image-url("gwal.png");
}
pre {
  background-color: #eee;
  padding: 15px;
  font-size: 16px;
}
th {
	background-color: #FFF
}
table {
	background-image: image-url("gwal.png");
}
table, th, td{
  border: 1px dotted red;
}
a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
