<h1>My Wallet</h1>
<h3><br>Listing Categories<br><br></h3>
<table align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br/>
<p style="color:red">
Total Income = <%=Income.sum(:amount)%>$<br>
Total Cost = <%=Cost.sum(:amount)%>$<br>
Balance = <%=(Income.sum(:amount) - Cost.sum(:amount)) %>$<br>
<% if((Income.sum(:amount) - Cost.sum(:amount))>500) %>
	<strong><%="you are having good balance"%></strong>
	<% elsif((Income.sum(:amount) - Cost.sum(:amount))>100) %>
	<strong><%="alert check your spendings, balance is low"%></strong>
	<% else %>
	<strong><%="alert you are spending alot, stop spending"%></strong>
<% end %>
</p>

<br>

<%= link_to 'New Category', new_category_path %>
<h4><br><br><br><br><br><br><br><br><br><br></h4>